@model List<Product>
<div class="container" action="POST">
	<h3>DANH SÁCH SẢN PHẨM </h3>
	<a class="btn btn-primary mb-2" href="/Product/Create">Thêm mới</a>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.id</td>
					<td>@item.name</td>
					<td>@item.price</td>
					<td>
						<div>
							<a class="btn btn-warning" href="/Product/Edit"
							   onclick="/Product/Edit">Edit</a>
							<a class="btn btn-danger" onclick="/Product/Delete">Delete</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>


